<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Use Instructions</title>
</head>
<body>
<h2>Bem vindo ao Sistema de Recomendação Adaptativa para Filmes Educacionais!</h2>
<p>O objetivo desse sistema é recomendar filmes a serem utilizados em sala de aula como objetos de aprendizagem.</p>
<p>Para isso, o sistema coleta informações do perfil educacional do utilizador e adapta as recomendações a tais informações.</p>
<p><b>O passo a passo de acesso e utilização do sistema é dado a seguir:</b></p>
<ul>
    <li>O primeiro passo é criar um novo usuário ou fazer o login caso já possua um cadastro.</li><br>
    <li>O segundo passo é criar seu perfil de aprendiz, onde deves selecionar entre outras coisas seu estilo de aprendizagem.</li><br>
    <li>O terceiro passo é avaliar filmes que gostas, caso não conheça algum podes sempre ler sua descrição e retornar à tela de votação. <br>
    Quanto mais filmes receberem uma nota, melhor o sistema predirá os filmes que podem ser de seu interesse.</li><br>
    <li>O quarto passo é avaliar as recomendações recebidas, peço que se possivel avalie pelo menos 20 recomendações =)</li><br>
    <li>O passo final é responder à pesquisa de satisfação, cujo link se encontra no final da tela de recomendações.</li><br>
</ul>

<p>O tempo estimado do experimento é de 10 minutos.</p>

<p>Muito obrigado pela colaboração =D</p>

<p>Para começar vá para a tela de <a href="/login/">Login</a>.</p>
</body>
</html>