<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ movie.movie_name }}</title>
</head>
<body>
{%  if movie.movie_pic.url is not None %}
    <figure>
        <img src={{ movie.movie_pic.url }} height="220"> <br>
        <figcaption>{{ movie.movie_name }}</figcaption>
    </figure>
{% endif %}

<strong>Description: </strong> {{ movie.movie_description }} <br> <br>
<strong>Rationale: </strong> {{ movie.rationale }} <br> <br>
<strong>Benefits: </strong> {{ movie.benefits }} <br> <br>
<strong>Problems: </strong> {{ movie.problems }} <br> <br>
<strong>Objectives: </strong> {{ movie.objectives }} <br> <br>
{#<strong>Knwoledge Area: </strong> {{ movie.movie_knowledge_area }} <br> <br>#}
<strong>Recommended Age: </strong> {{ movie.movie_recommended_age }}

<h1>Similar movies:</h1>
<ul>
    {% for movie in list_similar_movies %}
        <li>
{#        {%  if movie.movie_pic.url is not None %}#}
{#            <img src={{ movie.movie_pic.url }} height="220"> <br>#}
{#        {% endif %}#}
            <a href="/recommender/{{ movie.id }}/movie_detail">{{ movie.movie_name }}</a> <br>
        </li>
    {% endfor %}
</ul>

<br><br><br> <a href="/recommender/logout_view/">Logout</a>
</body>
</html>