<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110393920-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110393920-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M7WVGQS');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <title>New Learner</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7WVGQS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<h1>{{ user.first_name }} Learner Features</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/recommender/{{ user.pk }}/register_learner/" method="post">
{% csrf_token %}
    Your Age: <input type="number" name="user_age" required><br>
    Level of Education:
    <select name="level_of_education" required>
        <option value="EF">Middle School</option>
        <option value="EM">High School</option>
        <option value="ES">Graduate</option>
        <option value="MT">Master</option>
        <option value="DT">Ph.D.</option>
    </select><br>
    Level of English:
    <select name="level_of_english" required>
        <option value="LL">Low Level</option>
        <option value="ML">Medium Level</option>
        <option value="HL">High Level</option>
    </select><br>
    Level of Literature:
    <select name="level_of_literature" required>
        <option value="LL">Low Level</option>
        <option value="ML">Medium Level</option>
        <option value="HL">High Level</option>
    </select><br>
    Level of History:
    <select name="level_of_history" required>
        <option value="LL">Low Level</option>
        <option value="ML">Medium Level</option>
        <option value="HL">High Level</option>
    </select><br>
    Level of Biology:
    <select name="level_of_biology" required>
        <option value="LL">Low Level</option>
        <option value="ML">Medium Level</option>
        <option value="HL">High Level</option>
    </select><br>
    Level of Physics:
    <select name="level_of_physics" required>
        <option value="LL">Low Level</option>
        <option value="ML">Medium Level</option>
        <option value="HL">High Level</option>
    </select><br>
    Level of Math:
    <select name="level_of_math" required>
        <option value="LL">Low Level</option>
        <option value="ML">Medium Level</option>
        <option value="HL">High Level</option>
    </select><br>
    Learning Goal:
    <select name="learning_goal" required>
        <option value="STL" title="You have a specific short achieved learning goal.">Short-time Learning</option>
        <option value="LLL" title="You are ongoing, voluntary, and self-motivated to achive a brader learning goal.">Life-long Learning</option>
    </select><br>
    Learning Style:
    <select name="learning_style" required>
        <option value="SQN" title="Select this if you are the kind of learner who reads a book from beginning to end without jumping chapters">Sequential</option>
        <option value="GLB" title="Select this if you need to check the index first and select the chapters and the order you want to read.">Global</option>
    </select><br><br>
<input type="submit" value="Submit" />
</form>
<br><br><br> <a href="/recommender/logout_view/">Logout</a>
</body>
</html>