<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <link rel="stylesheet" type="text/css" href="star.css">#}
    <title>Adptive Recommender System</title>
</head>
<body>
<h1>Please rate movies you already seen {{ user.first_name }}</h1>

{#Get current position and sends it by an AJAX POST to register preferences view#}
<p id="preferences"></p>

<script>
var x = document.getElementById("preferences");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(sendPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
{#MODIFICAR ESSA FUNÇÃO PARA ENVIAR A LATITUDE E A LONGITUDE#}
function sendPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
}

window.onload = getLocation();

</script>

{#Show the movies and get the first ratings#}

{% if movie_list %}
    <form action="/recommender/{{ learner.id }}/register_preferences/" method="post">
        {% csrf_token %}
        <ul>
            {% for movie in movie_list %}
                <li>
                {%  if movie.movie_pic.url is not None %}
                    <img src={{ movie.movie_pic.url }} height="220"> <br>
                {% endif %}
                    <a href="/recommender/{{ movie.id }}/movie_detail">{{ movie.movie_name }}</a> <br>
                   <p>Rating: <input type="range" size="2" name={{ movie.id }} min="1" max="5">(1-5)</p> <br>
{#                    <fieldset class="rating">#}
{#                        <input type="radio" id="star5" name={{ movie.id }} value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>#}
{#                        <input type="radio" id="star4half" name={{ movie.id }} value="4" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>#}
{#                        <input type="radio" id="star4" name={{ movie.id }} value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>#}
{#                        <input type="radio" id="star3half" name={{ movie.id }} value="3" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>#}
{#                        <input type="radio" id="star3" name={{ movie.id }} value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>#}
{#                        <input type="radio" id="star2half" name={{ movie.id }} value="2" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>#}
{#                        <input type="radio" id="star2" name={{ movie.id }} value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>#}
{#                        <input type="radio" id="star1half" name={{ movie.id }} value="1" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>#}
{#                        <input type="radio" id="star1" name={{ movie.id }} value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>#}
{#                        <input type="radio" id="starhalf" name={{ movie.id }} value="1" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>#}
{#                    </fieldset>#}
                </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Rate Movies!" />
    </form>
{% else %}
    <p>No movies are available.</p>
{% endif %}
<br><br><br> <a href="/recommender/logout_view/">Logout</a>
</body>
</html>