<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110393920-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110393920-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M7WVGQS');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <title>Recomendations for {{ user.user_first_name }}</title>
    <style>
        .rating {
            display: inline-block;
            position: relative;
            height: 30px;
            line-height: 30px;
            font-size: 30px;
        }

        .rating label {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            cursor: pointer;
        }

        .rating label:last-child {
            position: static;
        }

        .rating label:nth-child(1) {
            z-index: 5;
        }

        .rating label:nth-child(2) {
            z-index: 4;
        }

        .rating label:nth-child(3) {
            z-index: 3;
        }

        .rating label:nth-child(4) {
            z-index: 2;
        }

        .rating label:nth-child(5) {
            z-index: 1;
        }

        .rating label input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        .rating label .icon {
            float: left;
            color: transparent;
        }

        .rating label:last-child .icon {
            color: #b4b4b4;
        }

        .rating:not(:hover) label input:checked ~ .icon,
        .rating:hover label:hover input ~ .icon {
            color: #fff928;
        }

        .rating label input:focus:not(:checked) ~ .icon:last-child {
            color: #b4b4b4;
            text-shadow: 0 0 5px #fff928;
        }
    </style>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7WVGQS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{#Get current position and sends it by an AJAX POST to register preferences view#}
<p id="recommendations"></p>

<script>
var x = document.getElementById("recommendations");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(sendPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
{#MODIFICAR ESSA FUNÇÃO PARA ENVIAR A LATITUDE E A LONGITUDE#}
function sendPosition(position) {
{#    x.innerHTML = "Latitude: " + position.coords.latitude +#}
{#    "<br>Longitude: " + position.coords.longitude;#}
    break
}

window.onload = getLocation();

</script>

{#Control the rating stars#}
<script>
    $(':radio').change(function() {
      console.log('New star rating: ' + this.value);
    });
</script>

<h1>List of Recommended Movies</h1>
{% if list_recommended_movies %}
    <div style="width:100%; height:418px; overflow: auto">
        <form action="/recommender/{{ learner.id }}/register_preferences/" method="post">
            {% csrf_token %}
            {% if learner.learning_style == "GLB" %} {# present the movies in columns if the learning style is global and as list otherwise #}
                <ul style="columns: 3">
                {% for movie, rating in list_recommended_movies %}
                    {#avoids to break the movies in between columns#}
                    <li style="-webkit-column-break-inside: avoid; page-break-inside: avoid; display:table; background-color: #f3f3f3">
                        {%  if movie.movie_pic.url is not None %}
                            <img src={{ movie.movie_pic.url }} height="220"> <br>
                        {% endif %}
                        <a target="_blank" href="/recommender/{{ movie.id }}/movie_detail">{{ movie.movie_name }}</a>
                        <p>Predicted Rating: {{ rating.predicted_rating }}

                        <div class="rating">
                              <label>
                                <input type="radio" name={{ movie.id }} value="1" />
                                <span class="icon">★</span>
                              </label>
                              <label>
                                <input type="radio" name={{ movie.id }} value="2" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                              </label>
                              <label>
                                <input type="radio" name={{ movie.id }} value="3" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                              </label>
                              <label>
                                <input type="radio" name={{ movie.id }} value="4" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                              </label>
                              <label>
                                <input type="radio" name={{ movie.id }} value="5" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                              </label>
                        </div> </p>
                    </li> <br>
                {% endfor %}
                </ul>
            {% else %}
                <ul>
                {% for movie, rating in list_recommended_movies %}
                    <li>
                        {%  if movie.movie_pic.url is not None %}
                            <img src={{ movie.movie_pic.url }} height="220"> <br>
                        {% endif %}
                        <a target="_blank" href="/recommender/{{ movie.id }}/movie_detail">{{ movie.movie_name }}</a>
                        <p>Predicted Rating: {{ rating.predicted_rating }}

                        <div class="rating">
                              <label>
                                <input type="radio" name={{ movie.id }} value="1" />
                                <span class="icon">★</span>
                              </label>
                              <label>
                                <input type="radio" name={{ movie.id }} value="2" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                              </label>
                              <label>
                                <input type="radio" name={{ movie.id }} value="3" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                              </label>
                              <label>
                                <input type="radio" name={{ movie.id }} value="4" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                              </label>
                              <label>
                                <input type="radio" name={{ movie.id }} value="5" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                              </label>
                        </div> </p>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
    </div>
    <div>
        <input type="submit" value="Rate Movies!" /> <h2 style="display:inline; color:red"> ← Please, click the "Rate Movies" button to submit your ratings!</h2>
    </div>
    </form><br><br>
{% else %}
    <p>No movies are available.</p>
{% endif %}


<h1>List of Seen Movies</h1>
{% if list_seen_movies %}
    <div style="width: 100%; height:200px; overflow: auto">
        {% if learner.learning_style == "GLB" %}
            <ul style="columns: 3">
            {% for movie, rating in list_seen_movies %}
                <li style="-webkit-column-break-inside: avoid; page-break-inside: avoid; display:table;">
                    <a target="_blank" href="/recommender/{{ movie.id }}/movie_detail">{{ movie.movie_name }}</a>
                    <p>Rating: {{ rating.rating }}</p>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <ul>
            {% for movie, rating in list_seen_movies %}
                <li>
                    <a target="_blank" href="/recommender/{{ movie.id }}/movie_detail">{{ movie.movie_name }}</a>
                    <p>Rating: {{ rating.rating }}</p>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% else %}
    <p>No movies are available.</p>
{% endif %}
<div>
    <h1>Survey Link</h1>
    <a target="_blank" href="https://goo.gl/forms/s0zBFHe4ZeMNY7Ci1">Satisfaction Survey</a> <h2 style="display: inline; color: red">← Please, let us know your opinion through our quick survey</h2>
</div>
<br><br><br> <a href="/recommender/logout_view/">Logout</a>
</body>
</html>